* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(120, 182, 233); */
    color: #235380;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    background-color: cadetblue;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;

}

h1 {
    text-align: center;
    margin-bottom: 20px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 60px;
    color: rgb(27, 39, 39);
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */

}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

ul {
    list-style: none;
    margin-top: 20px;
}

li {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

li span {
    flex-grow: 1;
}

li button {
    background-color: #f44336;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}